main section:first-child h1:first-child {
  margin-top: 0;
}

.heading.first {
  margin-top: 0;
}

.heading img {
  visibility: hidden;
  height: 22px;
  opacity: .4;
}

.heading:hover img{
  visibility: visible;
}

.heading img:hover{
  opacity: .8;
}

.main-menu {
  top: 0;
}

.main-menu.affix > .nav {
  margin-top: 25px;
}

.main-menu .nav .nav {
  margin-left: 15px;
}

.main-menu .nav li:not(.active) a + .nav {
  display: none;
}

.main-menu .nav .nav li a {
  padding-top: 5px;
  padding-bottom: 5px;
}

ul.nav li a {
  color: #333;
}

.active > a {
  font-weight: bold;
}

article, figure, pre.snippet[class*="language-"]:not(.inline) {
  margin-bottom: 35px;
}

.download {
  margin-top: 10px;
}

.download-description {
  padding: 6px 12px;
  display: block;
}

a > code {
  color: #286090;
  background-color: transparent;
}

.features {
  list-style: none;
  padding-left: 15px;
}

.features li {
  font-size: 1.65rem;
}

.features li:before {
  content: '➞\00a0\00a0\00a0';
}

